.dsc-count-cart {
    background-color: var(--dsc-color-bg-notification);
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -5px;
}

.dsc-cart-items{
    display: flex;
}